<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.UserMapper">
	
	<select id="getLogin" parameterType="user" resultType="user">
		SELECT
			  `uid`,
			  `username`,
			  `password`,
			  `iphone`,
			  `email`,
			  `code`,
			  `state`,
			  `type`
			FROM `user`
		where username = "${username}" and password = "${password}"
	</select>
	
	<insert id="saveUser" parameterType="user">
		<selectKey keyProperty="uid" resultType="string" order="BEFORE">
			SELECT UUID()
		</selectKey>
		INSERT INTO `user` 
			(`uid`, 
			`username`, 
			`password`, 
			`age`, 
			`sex`, 
			`iphone`, 
			`email`, 
			`code`, 
			`state`, 
			`type`
			)
			VALUES
			(#{uid}, 
			#{username}, 
			#{password}, 
			#{age}, 
			#{sex}, 
			#{iphone}, 
			#{email}, 
			#{code}, 
			#{state}, 
			#{type}
			);
				
	</insert>
	
	<update id="saveActive" parameterType="string">
		UPDATE `user` 
			SET
			`state` = "1",
			`code` = null
			WHERE
			`code` = #{state};
		
	</update>
	
	<select id="findAllUser" resultType="user">
		SELECT 	`uid`, 
			`username`, 
			`password`, 
			`age`, 
			`sex`, 
			`iphone`, 
			`email`, 
			`code`, 
			`state`, 
			`type`
	 
			FROM 
			`user` 	
	</select>
	
	<select id="findUserByUid" parameterType="user" resultType="user">
		SELECT 	`uid`, 
			`username`, 
			`password`, 
			`age`, 
			`sex`, 
			`iphone`, 
			`email`, 
			`code`, 
			`state`, 
			`type`
	 
			FROM 
			`user` 
			WHERE
			`uid` = #{uid};	
	</select>
	
	<update id="saveUserByUid" parameterType="user">
				UPDATE `user` 
			SET
			`uid` = #{uid} , 
			`username` = #{username} , 
			`age` = #{age}, 
			`sex` = #{sex} , 
			`iphone` = #{iphone} , 
			`email` = #{email} , 
			`code` = #{code} , 
			`state` = #{state} , 
			`type` = #{type}
			
			WHERE
			`uid` = #{uid} ;
		
	</update>
	
	<select id="findAllOrder" resultType="order">
		SELECT
		  `id`,
		  `oid`,
		  `uid`,
		  `create_time` createTime,
		  `count`,
		  `totol`,
		  `state`
		FROM `orders`	
	</select>
	
	<select id="findOrderById" parameterType="order" resultType="order">
		SELECT
		  `id`,
		  `oid`,
		  `uid`,
		  `create_time` createTime,
		  `count`,
		  `totol`,
		  `state`
		FROM `orders`
		WHERE
			`id` = #{id} 	
	</select>
	
	<select id="findAllGoodType" resultType="goodtype">
		SELECT
		`id` ,
	  `good_id` goodId,
	  `name` goodName
	FROM `good_type`
	</select>
	
	<select id="findGoodTypeById" parameterType="goodtype" resultType="goodtype">
		SELECT
			id ,
		  `good_id` goodId,
		  `name` goodName
		FROM `good_type`
			WHERE
			`id` = #{id};	
	</select>
	
	<update id="saveGoodTypeByUid" parameterType="goodtype">
		UPDATE `good_type`
			SET `good_id` = #{goodId},
			  `name` = #{goodName}
			WHERE `id` = #{id};
	</update>
	
	<select id="findAllGood" resultType="goods">
		SELECT 	`gid` gId, 
			`gname` gName, 
			`price`, 
			`desc`, 
			`photo`, 
			`count`, 
			`good_id` goodId
			 
			FROM 
			`goods` 
	</select>
	
	<select id="findGoodById" parameterType="goods" resultType="goods">
		SELECT 	`gid` gId, 
			`gname` gName, 
			`price`, 
			`desc`, 
			`photo`, 
			`count`, 
			`good_id` goodId
			 
			FROM 
			`goods` 
			WHERE
			`gid` = #{gId};	
	</select>
	<update id="saveGoodByUid" parameterType="goods">
		UPDATE `goods`
			SET `gid` = #{gId},
			  `gname` = #{gName},
			  `price` = #{price},
			  `desc` = #{desc},
			  `photo` = #{photo},
			  `count` = #{count},
			  `good_id` = #{goodId}
			WHERE `gid` = #{gId};
	</update>
	<update id="sendOrderById" parameterType="order">
		UPDATE `orders`
			SET 
			  `state` = #{state}
			WHERE `id` = #{id};
	</update>
	
	<insert id="addGoodTypeNew" parameterType="goodType">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			SELECT UUID()
		</selectKey>
			INSERT INTO `good_type`
	            (`id`,
	             `good_id`,
	             `name`)
		VALUES (#{id},
		        #{goodId},
		        #{goodName});
	</insert>
</mapper>
